body, html {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.inner-wrapper {
    box-sizing: border-box;
}

.open {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #3E79ED;
    color: #3E79ED;
    opacity: 0.7;
    cursor: pointer;
    outline: none;
}

.close {
    display: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #3E79ED;
    color: #3E79ED;
    opacity: 0.7;
    cursor: pointer;
    outline: none;
}

h2 {
    margin-left: 60px;
    color: #3E79ED;
    font-size: 20px;
    font-weight: 500;
}

h2:first-child {
    margin-top: 30px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.green {
    background-color: #38CD4F;
}

input[type="text"] {
    border: 2px solid #3E79ED;
    color: #3E79ED;
}

input::placeholder {
    color: #3E79ED;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -30px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
}

.container .wrapper {
    width: 500px;
    height: 300px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 25px;
}

.inner-container {
    display: flex;
    justify-content: center;
    height: 135px;
    margin-top: -10px;
}

.checkboxes {
    border: 2px solid #3E79ED;
    border-right: none;
    width: 25px;
    height: 80px;
    margin-top: 28px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #3E79ED;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="checkbox"]:checked::before {
    content: '';
    display: block;
    margin: 1px;
    width: 10px;
    height: 5px;
    border-radius: 3px;
    border-left: 3px solid #3E79ED;
    border-bottom: 3px solid #3E79ED;
    transform: rotate(-45deg);
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #3E79ED;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 100%;
}

input[type="radio"]:checked::before{
    content: '';
    display: block;
    background:#3E79ED;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    margin: 2px;
}

.inner-wrapper {
    margin: auto;
    width: 300px;
    height: 45px;
    border: 2px solid #3E79ED;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.inner-wrapper:nth-child(2) {
    border-top: none;
    border-bottom: none;
}

.inner-wrapper input {
    width: 80px;
    height: 10px;
}

.results {
    position: relative;
    bottom: 21px;
    color: #3E79ED;
    display: grid;
    grid-template-rows: 23px 43px 46px 44px;
    height: 155px;
}

.number {
    box-sizing: border-box;

    width: 100px;
    border-right: 2px solid #3E79ED;
    border-bottom: 2px solid #3E79ED;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.result {
    font-weight: 500;
    width: 98px;
    margin-left: -2px;
    text-align: center;
    border: 2px solid #3E79ED;
}

.calculation h2 {
    margin-top: 10px;
}

.calc-wrapper {
    margin-top: -10px;
    margin-left: 60px;
    width: 210px;
    color: #3E79ED;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.calc-wrapper label {
    border: 2px solid #3E79ED;
    width: 95px;
    height: 20px;
}

.calc-wrapper label span {
    font-size: 12px;
    position: absolute;
    top: 5px;
}